/*********************************************
 * COMMON
 *********************************************/
 .reveal .h {
    text-align: start;
}

.reveal h2 {
    color: #002b36;
}

.reveal .main {
    font-size: 36px;
}

.reveal .colored__text {
    color: #FFA500;
}

/*********************************************
 * MAIN SLIDE
 *********************************************/
.reveal .main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reveal .main__header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
}

.reveal .main__header_top {
    padding: 20px 0;
    border-bottom: 1px solid #93a1a1;
}

.reveal .main__header_lo {
    position: relative;
	color: #002b36;
 }

 .reveal .main__header_lo::after {
    position: absolute;
    left: 0;
    bottom: 10px;
    content: '';
    width: 100%;
    height: 20px;
    background-color: #268bd2;
 }
 
.reveal .main__header_rss {
    padding: 5px;
    color: #002b36;
    border: 3px solid #FFA500;
    border-radius: 5px;
}

.reveal .main__header_rss:hover {
    padding: 5px;
    color: #002b36;
    border: 3px solid #FFA500;
}

/*********************************************
 * FIRST SLIDE
 *********************************************/

 .reveal .first__top {
    display: flex;
    gap: 30px;
}

.reveal .first__column {
    flex-direction: column;
}

.reveal .first__bottom {
    display: flex;
    justify-content: flex-start;
    text-align: start;
}

.reveal .first__bycicle_img {
    min-width: 200px;
    height: 200px;
    background-image: url(../assets/velo.gif.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #268bd2;
    border-radius: 15px;
}

.reveal .first__text {
    text-align: start;
}

.reveal .first__coding_container {
    display: flex;
    gap: 20px;
    width: 100%;
}

.reveal .first__code {
    width: 48%;
}

/*********************************************
 * SECOND SLIDE
 *********************************************/

 .reveal .second__top {
    display: flex;
    justify-content: space-evenly;
}

.reveal .second__list_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 48%;
}

.reveal .second__test_img {
    min-width: 200px;
    height: 400px;
    background-image: url(../assets/test_results.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #268bd2;
    border-radius: 15px;
}

/*********************************************
 * THIRD SLIDE
 *********************************************/
 
 .reveal .third__code {
    width: 100%;
}

/*********************************************
 * FIFTH SLIDE
 *********************************************/

 .reveal .fifth__top {
    display: flex;
    justify-content: space-between;
}

.reveal .fifth__list_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 48%;
}

.reveal .fifth__debounce_img,
.reveal .fifth__throttle_img {
    min-width: 400px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border: 3px solid #268bd2;
    border-radius: 15px;
}

.reveal .fifth__debounce_img {
    background-image: url(../assets/debounce.png);
}

.reveal .fifth__throttle_img {
    background-image: url(../assets/throttling.png);
}